@model ViewSec.Areas.User.Models.RiderViewModel

@{
    ViewData["Title"] = "Rider";
}

<header>
    <h1>@Html.DisplayFor(model => model.Band.Name)</h1>
</header>
<article class="rider">
    <section class="topData row">
        <div id="importantData" class="col-md-6 groepskleur@{@Model.Band.GroepsColor}">
            <header><h3>@Html.DisplayFor(model => model.Optreden.Date)</h3></header>
            <p>
                <label>@Html.DisplayNameFor(model => model.Stage)</label>
                <span>@Html.DisplayFor(model => model.Stage.Name)</span>
            </p>
            <p>
                <label>@Html.DisplayNameFor(model => model.Tent)</label>
                <span>@Html.DisplayFor(model => model.Tent.Name)</span>
            </p>
            <p>
                <label>@Html.DisplayNameFor(model => model.Kleedkamers)</label>
                <span>@String.Join(", ", Model.Kleedkamers.Select(k => k.Name))</span>
            </p>
            <p>
                <label>@Html.DisplayNameFor(model => model.BandKleedkamers.First().Uurdatum)</label>
                <span>tot @Html.DisplayFor(model => model.BandKleedkamers.First().Uurdatum)</span>
            </p>
        </div>
        <div class="personen col-md-6 row">
            <verantwoordelijke members="Model.Band.Members" Functie="TourManager"></verantwoordelijke>
            <verantwoordelijke members="Model.Band.Members" Functie="Production Manager"></verantwoordelijke>
            <verantwoordelijke members="Model.Band.Members" Functie="Artiestenbegeleider"></verantwoordelijke>
        </div>
    </section>
    <section class="riderItem row">
        <div class="w-100">
            <h2 class="pb-3 mb-4 border-bottom">
                VOORRAAD - SECRETARIAAT - VOORZIENINGEN
            </h2>
            <div class="listBooleans">
                <ul class="list-unstyled d-flex flex-wrap">
                    <rider-li for="Voorziening.Wasserij"></rider-li>
                    <rider-li for="Voorziening.Busstock"></rider-li>
                    <rider-li for="Voorziening.Coolersband"></rider-li>
                    <rider-li for="Voorziening.CoolersGMM"></rider-li>
                </ul>
            </div>
            <rider-comments comments="@Model.Voorziening.Comments"></rider-comments>
        </div>
    </section>
    <section class="riderItem row">
        <div class="w-100">
            <h2 class="pb-3 mb-4 border-bottom">
                Catering
            </h2>
            <div class="listBooleans">
                <ul class="list-unstyled d-flex flex-wrap">
                    <rider-li for="Catering.AfterShow"></rider-li>
                    <rider-li for="Catering.Speciaal"></rider-li>
                    <rider-li for="Catering.TakeAwayFood"></rider-li>
                    <rider-li for="Catering.Truckdrivers"></rider-li>
                </ul>
            </div>
            <rider-comments comments="@Model.Catering.Comments"></rider-comments>
        </div>
    </section>
    <section class="riderItem row">
        <div class="w-100">
            <h2 class="pb-3 mb-4 border-bottom">
                Logistic
            </h2>
            <div class="listBooleans">
                <ul class="list-unstyled d-flex flex-wrap">
                    <rider-li for="Logistic.Verlengkabels"></rider-li>
                    <rider-li for="Logistic.Voltage110"></rider-li>
                </ul>
            </div>
            <rider-comments comments="@Model.Logistic.Comments"></rider-comments>
        </div>
    </section>
    <section class="riderItem row">
        <div class="w-100">
            <h2 class="pb-3 mb-4 border-bottom">
                Speciaal
            </h2>
            <div class="listBooleans">
                <ul class="list-unstyled d-flex flex-wrap">
                    <rider-li for="Special.Arts"></rider-li>
                    <rider-li for="Special.HdWitKl"></rider-li>
                    <rider-li for="Special.HdWitGr"></rider-li>
                    <rider-li for="Special.HdZwartGr"></rider-li>
                    <rider-li for="Special.HdZwartKl"></rider-li>
                    <rider-li for="Special.Kine"></rider-li>
                    <rider-li for="Special.Runner"></rider-li>
                    <rider-li for="Special.Vervoer"></rider-li>
                    <rider-li for="Special.Zuurstof"></rider-li>
                </ul>
            </div>
            <rider-comments comments="@Model.Special.Comments"></rider-comments>
        </div>
    </section>
</article>

