@model BusinessFacade.Special

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Special</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HdWitGr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HdWitGr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HdWitKl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HdWitKl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HdZwartGr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HdZwartGr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HdZwartKl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HdZwartKl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Runner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Runner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zuurstof)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zuurstof)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vervoer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vervoer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
