@model ViewSec.Areas.User.ViewModels.RiderViewModel

@{
    ViewData["Title"] = "Rider";
}

<header>
    <h1>@Html.DisplayFor(model => model.Band.Name)</h1>
</header>
<article class="rider">
    <section class="topData row">
        <div id="importantData" class="col-md-6 groepskleur@{@Model.Band.GroepsColor}">
            <header><h3>@Html.DisplayFor(model => model.Optreden.Date)</h3></header>
            <p>
                <label>@Html.DisplayNameFor(model => model.Stage)</label>
                <span>@Html.DisplayFor(model => model.Stage.Name)</span>
            </p>
            <p>
                <label>@Html.DisplayNameFor(model => model.Tent)</label>
                <span>@Html.DisplayFor(model => model.Tent.Name)</span>
            </p>
            <p>
                <label>@Html.DisplayNameFor(model => model.Kleedkamers)</label>
                <span>@String.Join(", ", Model.Kleedkamers.Select(k => k.Name))</span>
            </p>
            <p>
                <label>@Html.DisplayNameFor(model => model.BandKleedkamers.First().Uurdatum)</label>
                <span>tot @Html.DisplayFor(model => model.BandKleedkamers.First().Uurdatum)</span>
            </p>
        </div>
        <div class="personen col-md-6 row">
            <vc:verantwoordelijke members="@Model.Band.Members" functie="TourManager"></vc:verantwoordelijke>
            <vc:verantwoordelijke members="@Model.Band.Members" functie="Production Manager"></vc:verantwoordelijke>
            <vc:verantwoordelijke members="@Model.Band.Members" functie="Artiestenbegeleider"></vc:verantwoordelijke>
        </div>
    </section>
    <section class="riderItem row">
        <div class="w-100">
            <h2 class="pb-3 mb-4 border-bottom">
                VOORRAAD - SECRETARIAAT - VOORZIENINGEN
            </h2>
            <div class="listBooleans">
                <ul class="list-unstyled d-flex flex-wrap">
                    <rider-li for="Voorziening.Wasserij"></rider-li> <!--Tag Helper: RiderLiTagHelper.cs-->
                    @await Component.InvokeAsync("RiderLi", new { name = "Coolers band", value = Model.Voorziening.Coolersband }) <!--View Component alternatief-->
                    <vc:rider-li name="Busstock" value="@Model.Voorziening.Busstock"></vc:rider-li> <!--View Component: RiderLiViewComponent.cs-->
                    <vc:rider-li name="CoolersG MM" value="@Model.Voorziening.CoolersGMM"></vc:rider-li>
                </ul>
            </div>
            <rider-comments comments="@Model.Voorziening.Comments"></rider-comments>
        </div>
    </section>
    <section class="riderItem row">
        <div class="w-100">
            <h2 class="pb-3 mb-4 border-bottom">
                Catering
            </h2>
            <div class="listBooleans">
                <ul class="list-unstyled d-flex flex-wrap">
                    <vc:rider-li name="AfterShow" value="@Model.Catering.AfterShow"></vc:rider-li>
                    <vc:rider-li name="Speciaal" value="@Model.Catering.Speciaal"></vc:rider-li>
                    <vc:rider-li name="Take Away Food" value="@Model.Catering.TakeAwayFood"></vc:rider-li>
                    <vc:rider-li name="Truckdrivers" value="@Model.Catering.Truckdrivers"></vc:rider-li>
                </ul>
            </div>
            <rider-comments comments="@Model.Catering.Comments"></rider-comments>
        </div>
    </section>
    <section class="riderItem row">
        <div class="w-100">
            <h2 class="pb-3 mb-4 border-bottom">
                Logistic
            </h2>
            <div class="listBooleans">
                <ul class="list-unstyled d-flex flex-wrap">
                    <vc:rider-li name="Verlengkabels" value="@Model.Logistic.Verlengkabels"></vc:rider-li>
                    <vc:rider-li name="Verlengkabels" value="@Model.Logistic.Voltage110"></vc:rider-li>
                </ul>
            </div>
            <rider-comments comments="@Model.Logistic.Comments"></rider-comments>
        </div>
    </section>
    <section class="riderItem row">
        <div class="w-100">
            <h2 class="pb-3 mb-4 border-bottom">
                Speciaal
            </h2>
            <div class="listBooleans">
                <ul class="list-unstyled d-flex flex-wrap">
                    <vc:rider-li name="Arts" value="@Model.Special.Arts"></vc:rider-li>
                    <vc:rider-li name="HD Wit Kl" value="@Model.Special.HdWitKl"></vc:rider-li>
                    <vc:rider-li name="HD Wit Gr" value="@Model.Special.HdWitGr"></vc:rider-li>
                    <vc:rider-li name="HD Zwart Gr" value="@Model.Special.HdZwartGr"></vc:rider-li>
                    <vc:rider-li name="HD Zwart Kl" value="@Model.Special.HdZwartKl"></vc:rider-li>
                    <vc:rider-li name="Kine" value="@Model.Special.Kine"></vc:rider-li>
                    <vc:rider-li name="Runner" value="@Model.Special.Runner"></vc:rider-li>
                    <vc:rider-li name="Vervoer" value="@Model.Special.Vervoer"></vc:rider-li>
                    <vc:rider-li name="Zuurstof" value="@Model.Special.Zuurstof"></vc:rider-li>
                </ul>
            </div>
            <rider-comments comments="@Model.Special.Comments"></rider-comments>
        </div>
    </section>
</article>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Optreden.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
